h1 {
  display: block;
  margin: auto;
  font-size: 220%;
  padding-bottom: 2vh;
}
mat-card {
  border-radius: 15px;
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 5vh;
}
#squareForm {
  height: 50vh;
}
mat-form-field {
  padding-top: 2vh;
  padding-bottom: 4vh;

  width: 70%;
}
form {
  min-height: 300px;
}
#launchButton {
  background-color: #0388fc;
  display: block;
  margin: auto;
  width: 35%;
  margin-top: 4vh;
  margin-bottom: 2vh;
  color: white;
}
#loadingSpinner {
  margin: auto;
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#result {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#result-tab {
  display: block;
  margin: auto;
  width: 40%;
  text-align: center;
  justify-content: center;
}
td,
tr {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}
@media (max-width: 800px) {
  mat-grid-list {
    flex-direction: column;
  }
}
