<ng-container id="main-container">
    <mat-card class="mat-elevation-z8">
        <mat-card-header><h1 id="main-title">iHoover - Maxime Magnez</h1></mat-card-header>
        <mat-card-content>
            <form id="squareForm" [formGroup]="squareForm">
                <mat-form-field appearance="fill">
                    <label for="titre"><h2>Largeur de la surface</h2></label>
                    <input
                        appearance="fill"
                        matInput
                        type="number"
                        class="form-control"
                        formControlName="xSquare"
                        min="2"
                        max="25"
                        xSquare="ngModel"
                    />
                    <mat-hint>La valeur doit être superieure à 2.</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <label for="titre"><h2>Hauteur de la surface</h2></label>
                    <input
                        matInput
                        type="number"
                        class="form-control"
                        formControlName="ySquare"
                        min="2"
                        max="25"
                    />
                    <mat-hint>La valeur doit être superieure à 2.</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <label for="titre"><h2>Position horizontale initiale</h2></label>
                    <input
                        matInput
                        type="number"
                        class="form-control"
                        formControlName="xCurrent"
                        min="0"
                        max="{{ squareForm.value.xSquare }}"
                    />
                    <mat-hint
                        >La valeur ne peut être superieure à la largeur de la surface.</mat-hint
                    ></mat-form-field
                >
                <mat-form-field appearance="fill">
                    <label for="titre"><h2>Position verticale initiale</h2></label>
                    <input
                        matInput
                        type="number"
                        class="form-control"
                        formControlName="yCurrent"
                        min="0"
                        max="{{ squareForm.value.ySquare }}"
                    />
                    <mat-hint
                        >La valeur ne peut être superieure à la hauteur de la surface.</mat-hint
                    ></mat-form-field
                >

                <mat-form-field appearance="fill">
                    <label for="titre"><h2>Orientation initiale</h2></label>
                    <mat-select value="North">
                        <mat-option value="North">North</mat-option>
                        <mat-option value="East">East</mat-option>
                        <mat-option value="West">West</mat-option>
                        <mat-option value="South">South</mat-option>
                    </mat-select>
                </mat-form-field>

                <button
                    *ngIf="squareForm.valid"
                    class="buttonSquareForm"
                    mat-raised-button
                    type="submit"
                    (click)="launcher()"
                >
                    Launch iHoover !
                </button>
            </form>
            <mat-card-footer>
                <div *ngIf="isUntouched === true"></div>
                <div id="result" *ngIf="isLoading === false && isOver === true">
                    <mat-card>
                        <mat-card-header>
                            <h1 id="result-title">
                                Formidable ! <br />L'aspirateur a terminé son parcours sur la case
                                ({{ finalLocation.xFinal }},{{ finalLocation.yFinal }}).
                                <br />
                                L'orientation finale est
                                {{ finalLocation.finalcurrentOrientation }}.
                            </h1></mat-card-header
                        >
                        <mat-card-content>
                            <h2>Voici le détail du parcours effectué :</h2>
                            <ng-container *ngFor="let done of this.launch.doneAreas; index as i"
                                ><div class="display-result">
                                    Case n° {{ i + 1 }} => ({{ done[0] }},{{ done[1] }})
                                </div>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div *ngIf="isLoading === true && isOver === false">
                    <mat-spinner id="loadingSpinner" [diameter]="50"></mat-spinner>
                </div>
            </mat-card-footer>
        </mat-card-content>
    </mat-card>
</ng-container>
