<ng-container id="main-container">
  <mat-card>
    <mat-card-header><h1>iHoover - Maxime Magnez</h1></mat-card-header>
    <mat-card-content>
      <form [formGroup]="squareForm" (ngSubmit)="this.launch.launch()">
        <mat-grid-list cols="2" rowHeight="4:1">
          <mat-grid-tile>
            <mat-form-field>
              <label for="titre"><h2>Largeur de la surface</h2></label>
              <input
                appearance="fill"
                matInput
                type="number"
                class="form-control"
                formControlName="xSquare"
                [(ngModel)]="square.xSquare"
                min="2"
                max="25"
              />
              <mat-hint>La valeur doit être superieure à 2.</mat-hint>
            </mat-form-field></mat-grid-tile
          >
          <mat-grid-tile>
            <mat-form-field>
              <label for="titre"><h2>Hauteur de la surface</h2></label>
              <input
                matInput
                type="number"
                class="form-control"
                formControlName="ySquare"
                [(ngModel)]="square.ySquare"
                min="2"
                max="25"
              />
              <mat-hint>La valeur doit être superieure à 2.</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <label for="titre"><h2>Position horizontale initiale</h2></label>
              <input
                matInput
                type="number"
                class="form-control"
                formControlName="xCurrent"
                [(ngModel)]="currentLocation.xCurrent"
                min="0"
                max="{{ squareForm.value.xSquare }}"
              /> </mat-form-field
          ></mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <label for="titre"><h2>Position verticale initiale</h2></label>
              <input
                matInput
                type="number"
                class="form-control"
                formControlName="yCurrent"
                [(ngModel)]="currentLocation.yCurrent"
                min="0"
                max="{{ squareForm.value.ySquare }}"
              /> </mat-form-field
          ></mat-grid-tile>
        </mat-grid-list>

        <button id="launchButton" mat-raised-button type="submit">
          Launch iHoover !
        </button>
      </form>
      <mat-card-footer>
        <div id="result" *ngIf="isLoading === false; else loading">
          <h2>
            L'aspirateur a terminé son parcours à la case ({{
              finalLocation.xFinal
            }},{{ finalLocation.yFinal }}).
          </h2>
        </div>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-spinner id="loadingSpinner" [diameter]="50"></mat-spinner
></ng-template>
